<div id="<%= dom_id category %>" class="card">
	<div class="card-body">
		<p>
			<strong>Ten:</strong>
			<%= category.ten %>
		</p>
		<p>
			<strong>Mo ta:</strong>
			<%= category.mo_ta %>
		</p>
	</div>
</div>
